<f:layout name="Default" />
<f:section name="main">
    <ul>
    <f:for each="{validationErrors}" as="validationError">
        <li>{validationError.validation.validationCode}</li>
    </f:for>
    </ul>
    <f:form action="displayForm" method="post">
        <f:form.textfield name="form[field1]"></f:form.textfield>
        <f:form.textfield name="form[field2]"></f:form.textfield>
        <f:form.textfield name="form[field3]"></f:form.textfield>
        <f:form.submit name="submit" value="send"></f:form.submit>
    </f:form>
</f:section>